body {
    background-color: #121212;
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    margin: 0%;
}

button {
    font-size: 3vh;
    min-width: 110px;
    max-height: 48px;
    background-color: #960000;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    cursor: pointer; 
    opacity: .8;
}

button:hover {
    opacity: 1;
}

.opcoes{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 110px;
    top: 47px;
    right: 50px;
}

.opcoes button {
    margin-bottom: 10px;
}


.comandosJogo {
    height: 57px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 53%;
    margin-top: -57px;
    margin-left: -250px;
}

.comandosJogo h1 {
    font-size: 2rem;
    padding: 3px;
    color: whitesmoke;
}

.campoCartas {
    display: flex;
    align-items: center;
    background-color: #101010 ;
    justify-content: space-evenly;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    width: 805px;
    height: 200px;
    position: absolute;
    overflow: auto;
}

#cartasJogador {
    bottom: 10%;
    left: 50%;
    margin-left: -402.5px;
}

#cartasBot {
    top: 8%;
    left: 50%;
    margin-left: -402.5px;
}

.campoCartas .carta {
    cursor: pointer;
    transition: .6s;
}

.carta {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: #262626;
    height: 178px;
    width: 114px;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
}

.campoCartas .carta:hover {
    box-shadow: 0px 0px 10px whitesmoke;
}

.carta img {
    width: 20px;
}

#baralho {
    position: absolute;
    top: 37%;
    left: 5%;
}

.popUp {
    position: absolute;
    top: 46%;
    margin-top: -50px;
    left: 49%;
    margin-left: -100px;    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid whitesmoke;
    background-color: #262626;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    visibility: hidden;
    border-radius: 10px;
}

.popUp p {
    color: whitesmoke;
    font-size: 1rem;
}

.botoesPopUp {
    display: flex;
    justify-content: space-between;
}

.botoesPopUp button {
    font-size: .8rem;
    min-width: 80px;
    max-height: 48px;
    padding: 0px;
}