body {
    background-color: #228B22;
    font-family: Helvetica;
}

button {
    font-size: 1.8rem;
    background-color: rgba(255, 0 , 0, .8);
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    opacity: .9;
}

button:hover {
    opacity: 1;
}

.comandosJogo{
    position: absolute;
    bottom: 25%;
    left: 80px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    width: 110px;
}

.comandosJogo button {
    margin-bottom: 10px;
}


.streak {
    height: 57px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -57px;
    margin-left: -250px;
}

.streak h1 {
    font-size: 2rem;
    padding: 3px;
    color: whitesmoke;
}

.campoCartas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #FFFF00;
    border-radius: 15px;
    width: 805px;
    height: 184px;
    position: absolute;
    overflow: auto;
}

#cartasJogador {
    bottom: 100px;
    left: 50%;
    margin-left: -402.5px;
}

#cartasBot {
    bottom: 450px;
    left: 50%;
    margin-left: -402.5px;
}

.campoCartas .carta {
    box-shadow: 0px 0px 10px #181818;
    cursor: pointer;
    transition: .6s;
}

.campoCartas .carta:hover {
    box-shadow: 5px 10px 10px #181818;
}

.carta {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #262626;
    height: 144px;
    width: 92px;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
}

.carta img {
    width: 20px;
}

#baralho {
    position: relative;
    top: 210px;
    left: 50px;
    margin-left: -46px;
}